body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.auth-container {
  padding: 30px 100px 30px 100px;
  max-width: 400px;
  width: 100%;
  background-color: black;
  border-radius: 20px;
  margin-left: 20px;
  box-shadow: 10px 17px 40px -15px rgba(0, 0, 0, 0.62);
  -webkit-box-shadow: 10px 17px 40px -15px rgba(0, 0, 0, 0.62);
  -moz-box-shadow: 10px 17px 40px -15px rgba(0, 0, 0, 0.62);
}
